.footer {
  background: #020617;
  color: #cbd5f5;
  margin-top: 80px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;

  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  gap: 30px;
}

/* LEFT */
.footer-left h3 {
  color: white;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.footer-left p {
  color: #94a3b8;
  font-size: 0.95rem;
}

/* CENTER */
.footer-center {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-center a {
  color: #cbd5f5;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.footer-center a:hover {
  color: #38bdf8;
}

/* RIGHT */
.footer-right p {
  font-size: 0.95rem;
  color: #94a3b8;
}

/* BOTTOM */
.footer-bottom {
  text-align: center;
  padding: 15px;
  background: #020617;
  border-top: 1px solid #1e293b;
  font-size: 0.85rem;
  color: #94a3b8;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-center {
    align-items: center;
  }
}
/* SOCIAL LINKS */
.social-links {
  margin-top: 12px;
  display: flex;
  gap: 15px;
}

.social-links a {
  text-decoration: none;
  color: #cbd5f5;
  font-size: 0.95rem;
  transition: all 0.3s ease;
}

.social-links a:hover {
  color: #38bdf8;
  transform: translateY(-2px);
}
